.logo {
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px 2px #16013d;
  padding-top: 20px;
}

.footer {
  position: absolute;
  background-color: #343a40;
  color: white;
  text-shadow: 2px 2px 4px #16013d;
  border-top: 1px solid #e7dfdd;
  padding-top: 30px;
}

.footer p {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 1.2;
  color: white;
  text-shadow: 2px 2px 4px #16013d;
}

.footer ul {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer ul li {
  list-style-type: none;
}

.footer ul li a:hover {
  color: black;
}

.titulo {
  text-align: center;
  background-color: #1eaaeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 5px;
}

.titulo--principal {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.texto {
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  color: white;
  text-shadow: 2px 2px 4px black;
  text-decoration: none;
}

.texto--oscuro {
  padding-top: 10px;
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
  text-decoration: none;
  font-weight: bold;
}

.texto--oscuro:hover {
  opacity: 80%;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.sep {
  padding-top: 10px;
}

/* botones con operaciones, maps */
.btn--view {
  background-color: #1f1ffc;
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  text-shadow: 1px 1px 4px #16013d;
  text-decoration: none;
}

.btn--view:hover {
  background-color: #790479;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  text-decoration: none;
}

.btn--buy {
  background-color: #08a308;
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  text-shadow: 1px 1px 4px #16013d;
  text-decoration: none;
}

.btn--buy:hover {
  background-color: #790479;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  text-decoration: none;
}

/* boton whatsapp */
div.positionElemento {
  width: 80px;
  height: 80px;
  background-color: greenyellow;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 10px;
}

div.positionElemento:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.whatsapp {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
/*# sourceMappingURL=stylesas.css.map */